<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grizenzio.absensi">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Absensi">
        <activity
            android:name=".activity.DaftarCloudActivity"
            android:parentActivityName=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DaftarActivity"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.ScanActivity"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>